{% block content %}

<div class="card">

  <div class="form-content p-5">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-row">
        <div class="col-md-5">
          <div class="form-group">
            <label class="">Name:</label>
            {{ form.name }}

          </div>
          <div class="form-group">
            <label class="">Description:</label>
            {{ form.description }}
          </div>
        </div>
      </div>
      <br/>
      <button type="submit" class="btn btn-primary btn-lg">
        {% if create%}Create{% else %}Save Changes{% endif %}
      </button>
    </form>
  </div>
</div>
{% endblock %}