{% block content %}

<div class="card" style="font-size: 2rem; padding: 10px;">
  
  <div class="form-content p-5" >
    <h1><b>Event Form</b></h1>
    <form method="POST" class="mt-5" id="event-form" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-row">
        <div class="col-md-5">
          <div class="form-group">
            <label class="">Title:</label>
            {{ form.title }}
          </div>
          <div class="form-group">
            <label class="">Images:</label>
           
            {{ image_form.images }}
            <p class="mb-2 mt-2"><b>* Select the images that you want to keep</b></p>
            <div class="ml-5" style="max-width: fit-content;"  id="image-preview">
              
              {% if form.instance and not create %}
                  {% for image in form.instance.event_images.all %}
                      <div class="image-preview-item mt-3 mb-3">
                          <label class="checkbox_img" for="{{image.id}}"><img src="{{ image.image.url }}" height="100px" width="150px" title="{{ image.image.name }}"></label>
                          <input type="checkbox" name="no_delete_image" checked value="{{ image.id }}">
                   
                      </div>
                  {% endfor %}
              {% endif %}
          </div>
          </div>
          <div class="form-group">
            <label class="">Description:</label>
            {{ form.description }}
          </div>
          <div class="form-group">
            <label class="">Social Club:</label>
            {{ form.social_club }}
          </div>
          <div class="form-group">
            <label class="">Place:</label>
            {{ form.location }}
          </div>
          <div class="form-group">
            <label class="">Time:</label>
            {{ form.time }}
          </div>
          <div class="form-group">
            <label class="">Entrance Fee:</label>
            {{ form.price }}
          </div>
          <div class="form-group">
            <label class="">Maximum People:</label>
            {{ form.maximum_people }}
          </div>
        </div>
      </div>
      <br/>
      <button type="submit" class="btn btn-light btn-lg" style="font-size: 3rem; width: 100px;">
        <i class="fa-solid fa-check"></i>
      </button>
    </form>
  </div>
</div>
{% endblock %}