
{% load custom_filters %}
{% block content %}

{% if events %}
<div class="event-container " style="margin-top: 2rem;">
<center>
{% for event in events %}

<div class="card event-card mb-5 mt-5">

  <div class="card-body d-flex flex-row align-middle" style="align-items: center;">
    
    <a class="text-dark" href="{% url 'users-profile' pk=event.created_by.pk %}"><img src="{{event.created_by.profile.avatar.url}}" class="rounded-circle ml-0" height="75px"
      width="75px" alt="avatar" /></a>
    <div class="ml-4" style="font-size: 2rem;">
      <h1 class="card-title font-weight-bold mb-2 text-left" style="vertical-align: middle !important; display: inline-block;"><a class="text-dark" href="{% url 'users-profile' pk=event.created_by.pk %}">{{event.created_by.username}}</a></h3> | <h1 style="display: inline-block;">{{event.title}}</h1>
    </div>
    {% if request.user.is_authenticated %}
    <div class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
  
      <ul class="notification-drop">
        <li class="item">
          <i class="fa-solid fa-ellipsis" style="font-size: 3rem;"></i>
          <ul>
            {% if request.user in event.social_club.managers.all or request.user.is_staff %}
            <a style="text-decoration: none; color: black;" href="{% url 'edit-event' pk=event.pk %}"><li style="text-decoration: none; font-size: 2rem; text-align: center; padding: 15px 15px 15px 25px !important;">Edit</li></a>
            
            <a style="text-decoration: none; color: black; " href="{% url 'delete-event' pk=event.pk %}"><li style=" text-decoration: none;font-size: 2rem; text-align: center; padding: 15px 15px 15px 25px !important;">Delete</li></a>
            {% endif %}

            {% if not event in request.user.profile.dont_recommend_events.all %}
              <a style="text-decoration: none; color: black; " href="{% url 'toggle-recommend-event' pk=event.pk detail='false' %}"><li style=" text-decoration: none;font-size: 2rem; text-align: center; padding: 15px 15px 15px 25px !important;">Don't Recommend</li></a>
            {% else %}
            <a style="text-decoration: none; color: black; " href="{% url 'toggle-recommend-event' pk=event.pk detail='false' %}"><li style=" text-decoration: none;font-size: 2rem; text-align: center; padding: 15px 15px 15px 25px !important;">Recommend</li></a>
              {% endif %}
              
          </ul>
        </li>
      </ul>
    </li>
    </div>
    {% endif %}
  </div>
  <a href="{% url 'event-detail' pk=event.pk %}">
  <div class="event-image hover-overlay ripple rounded-0 w-100" data-mdb-ripple-color="light">
    <img class="img-fluid" src="
    {% if event.event_images.all.first %}
      {{ event.event_images.all.first.image.url}}
    {% else %}
      /media/event_images/default.png
    {% endif %}"
      alt="Card image cap" />
    <a href="#!">
      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
    </a>
  </div>
</a>
  <div class="card-body text-left">

    <div class="description text-left p-4" style="display: inline-block; font-size: 2rem;">

        <a href="{% url 'toggle-like-event' pk=event.pk %}" class="btn btn-lg" name="like" style="text-decoration: none; color:black; font-size: 3rem; border-radius: 30px; {% if not event|is_liked:request.user %}color: red;{% endif %} ">
        <i class="fa{% if not event|is_liked:request.user %}-solid{%else%}-regular{% endif %} fa-heart"></i></a>

      <strong>{{event.likes_event.count}} Likes</strong> 
      <p >

        
      <b><a class="text-dark"  href="{% url 'users-profile' pk=event.created_by.pk %}">{{event.created_by}}</a></b> <span id="short_{{event.pk}}">{{ event.description|slice:70 }} {% if event.description|length > 70 %} <a class="click_more" onclick="toggleDescription({{event.pk}})">more</a>{%endif%}</span>  {% if event.description|length > 70 %} <span id="long_{{event.pk}}" style="display: none;">{{event.description}}</span>{% endif %}
        
      </p>

    </div>

  </div>
</div>



{% endfor %}

</center>
</div>


<nav class="text-center">
  <ul class="pagination justify-content-center">

    {% if events.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ events.previous_page_number }}">Previous</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
    {% endif %}



    {% for num in events.paginator.page_range %}
    {% if num == events.number %}
    <li class="page-item active">
      <a class="page-link" href="?page={{ num }}">{{ num }} <span class="sr-only">(current)</span></a>
    </li>
    {% elif num > events.number|add:-5 and num < events.number|add:5 %} <li class="page-item">
      <a class="page-link" href="?page={{ num }}">{{ num }}</a>
      </li>
      {% endif %}
      {% endfor %}



      {% if events.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ events.next_page_number }}">Next</a></li>
      {% else %}
      <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
      {% endif %}


  </ul>
</nav>

{% else %}
<div style="font-size:1.5rem;"
class="alert alert-light alert-dismissible mb-3 p-5"
role="alert">
<h2>There are no results. You can see events by joining more groups here: <a href="{% url 'social-clubs' %}">Social Clubs</a></h2>
<button type="button" class="close" data-dismiss="alert" aria-label="Close" style="font-size: 4rem;">
  <span aria-hidden="true">&times;</span>
</button>
</div>

{% endif %}
{% endblock %}