{% block content %}

{% if events %}
<center>
{% for event in events %}

<div class="card mb-5 p-5" style="font-size: 1.75rem; background-color: #f3f3f3; max-width: 500px; border: 8px solid #cfcfcf; border-radius: 1%;">
 
  <div class="card-body">
    {% if not search and not current_users_page and not dont_recommend_events %}
        <div class="mb-1 text-right">
          <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="event_pk" value="{{event.pk}}">
            <button type="submit" name="dont_recommend" data-placement="left" title="Don't recommend this event in event feed." data-toggle="tooltip" style="font-size: 1rem; width: 30px;" class="btn btn-danger p-3 mb-3 align-middle"><i class="fa-solid fa-x"></i></button>
          </form>
        </div>
        
 
    {% endif %}

        
    {% if dont_recommend_events %}
      <div class="mb-1 text-right">
        <form method="POST">
          {% csrf_token %}
          <input type="hidden" name="event_pk" value="{{event.pk}}">
          <button type="submit" name="dont_recommend" data-placement="left" title="Recommend this event in event feed again." data-toggle="tooltip" style="font-size: 1rem; width: 30px;" class="btn btn-success p-3 mb-3 align-middle"><i class="fa-solid fa-check"></i></button>
        </form>
      </div>
    {% endif %}
    
    
    


    {% if not 'title' in exclude %}
    {% for like in event.likes_event.all %}
      {% if request.user == like.user %}
      
      <h1 class="badge badge-danger p-3" data-placement="left" title="You have liked this event." data-toggle="tooltip" style="display: inline-block; border-radius: 100%; vertical-align: middle; font-size: 2rem;"> <i class="fa-solid fa-heart"></i></h1>
      {% endif %}
    

      
    {% endfor %}
    <a href="{% url 'event-detail' pk=event.pk %}?{% if liked_event %}l=true{%elif dont_recommend_events %}dr=true{% endif %}{% if request.GET.q %}q={{ request.GET.q|urlencode }}&{% endif %}{% if request.GET.club %}club={{ request.GET.club }}&{% endif %}" class="mb-5">
    <h1 class="" style="display: inline-block; "><b>{{event.title|title}}</b></h1> 
    </a> 
      <h5 class="card-title">
        
        
        
        <a href="{% url 'event-detail' pk=event.pk %}?{% if liked_event %}l=true{%elif dont_recommend_events %}dr=true{% endif %}{% if request.GET.q %}q={{ request.GET.q|urlencode }}&{% endif %}{% if request.GET.club %}club={{ request.GET.club }}&{% endif %}">
        <img class="img-fluid mt-4 mb-4" src="
        {% if event.event_images.all.first %}
          {{ event.event_images.all.first.image.url}}
        {% else %}
          /media/event_images/default.png
        {% endif %}
        " height="150px" width="200px" style="border: 2px solid black;"> 
      </a>
  <br/>

      


<div class="title" style="display: inline-block;">
  <div class="badge" style="display: block;">
  {% if event.is_past %}

      <h1 class="badge badge-secondary p-3 mb-3" style="font-size: 1.3rem;" ><i class="fa-solid fa-skull"></i> This is an old event.</h1>
      {% elif event in events_attending and not current_users_page %}
 
      <h1 class="badge badge-success p-3 mb-3 " style="font-size: 1.3rem; "><i class="fa-solid fa-check"></i> You are attending this event.</h1>
      {% elif event.users.all|length >= event.maximum_people and not current_users_page %}
   
      <h1 class="badge badge-danger p-3 mb-3" style="font-size: 1.3rem; "> <i class="fa-solid fa-check"></i></i> Event Is Full</h1>
      {% endif %}</div>




</div>
   
        
         
        </h5>
    
    {% endif %}

    {% if not 'from' in exclude %}
    <p class="card-text"><b>From The Club:</b> <b><a href="{% url 'club-detail' pk=event.social_club.pk %}">{{event.social_club}}</a></b></p>
    
    {% endif %}
      
    {% if not 'description' in exclude %}
    <p class="card-text"><b>Description:</b> {% if event.description|length > 200 %}
      {{event.description|slice:200}} <a href="{% url 'event-detail' pk=event.pk %}?{% if liked_event %}l=true{%elif dont_recommend_events %}dr=true{% endif %}{% if request.GET.q %}q={{ request.GET.q|urlencode }}&{% endif %}{% if request.GET.club %}club={{ request.GET.club }}&{% endif %}">...</a> {% else %} {{event.description}} {% endif %}</p>
    
    {% endif %}

    {% if not 'location' in exclude %}
    <p class="card-text"><b>Location:</b> {{event.location}}</p>
    
    {% endif %}
    
    {% if not 'time' in exclude %}
    <p class="card-text"><b>Time:</b> {{event.time|date:"j/m/Y l H:i" }}</p>
    
    {% endif%}
    {% if not 'fee' in exclude %}
    <p class="card-text"><b>Fee:</b> {{event.price}} ₺</p>
    
    {% endif %}

    <a href="{% url 'event-detail' pk=event.pk %}?{% if liked_event %}l=true{%elif dont_recommend_events %}dr=true{% endif %}{% if request.GET.q %}q={{ request.GET.q|urlencode }}&{% endif %}{% if request.GET.club %}club={{ request.GET.club }}&{% endif %}" class="btn btn-primary btn-lg p-3 mt-3 mb-3 " style="width: 50%">Details</a>
  </div>

</div>

{% endfor %}
</center>


<nav class="text-center" style="font-size: 1.5rem;">
  <ul class="pagination justify-content-center">

    {% if events.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ events.previous_page_number }}">Previous</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
    {% endif %}



    {% for num in events.paginator.page_range %}
    {% if num == events.number %}
    <li class="page-item active">
      <a class="page-link" href="?page={{ num }}">{{ num }} <span class="sr-only">(current)</span></a>
    </li>
    {% elif num > events.number|add:-5 and num < events.number|add:5 %} <li class="page-item">
      <a class="page-link" href="?page={{ num }}">{{ num }}</a>
      </li>
      {% endif %}
      {% endfor %}



      {% if events.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ events.next_page_number }}">Next</a></li>
      {% else %}
      <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
      {% endif %}


  </ul>
</nav>

{% else %}
<p style="font-size: 1.5rem;">No results.</p>
{% endif %}
{% endblock %}