{% load custom_filters %}
{% load static %}

<!doctype html>
<html lang="en" style="font-size: 10px;">

<head>
  <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.8.2/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; css.integrity = "sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"; document.getElementsByTagName('head')[0].appendChild(css); })(); </script
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/events.css' %}">
    <link rel="stylesheet" href="{% static 'css/social_clubs.css' %}">
  <!--Font awesome icons -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"
    integrity="sha512-zZSw+r0iHldyzE4QlWW0avq3ICd5v5O5HxS5ABjA0pX9YFz8pW1kwIHtEmyCtE2A91f8i/mIaGKkMtdO/M2BvQ=="
    crossorigin="anonymous"></script>
  

  <title>{% block title %} {% endblock %} </title>

</head>

<body>
  {% if user.is_authenticated %}
  <nav class="sidebar close" style="z-index: 99999900000;">
    <header>
        <div class="image-text">
            <span class="image">
                <!--<img src="logo.png" alt="">-->
            </span>

            <div class="text logo-text">

                <img class="rounded-circle account-img mt-3" width="50px" height="50px"
                  src="{{ request.user.profile.avatar.url }} " style="cursor: pointer;" />

                <span class="name">{{request.user.username}}</span>
                <span class="profession">{% if request.user.profile.ambassador %}Ambassador{% elif request.user.is_staff  %}Admin{% elif request.user|is_manager %}Manager{% else %}User{%endif%}</span>
            </div>
        </div>
        <i class="fa-solid fa-bars toggle"></i>

    </header>

    <div class="menu-bar">
        <div class="menu">
          
          <li class="nav-link search-box d-none">
            <i class="fa-solid fa-magnifying-glass search_button" onclick="" style="color:black; font-size: 30px; "></i>
            <form class="form-inline ml-3" style="font-size: 1.5rem;" method="GET" action="{% url 'search' %}">
              <span class="text nav-text">
              <input name="q" class="form-control form-control-lg p-3" type="search" placeholder="Search.." {% if query %}value="{{query}}"{%endif%} aria-label="Search" required>
            </span>
            </form> 
        </li>
            <ul class="menu-links">
              
         


              <!-- <li class="nav-link menus-link" onmouseover="if(this.firstChild['href'] === window.location.href){console.log('yes')}else{console.log(this.firstChild)}"> -->
              <li class="nav-link menus-link" id="home">

                <a href="{% url 'users-home' %}">
   
                  <i class="fa-solid fa-house" style="color:black; font-size: 30px;"> </i>
                    <span class="text nav-text">&nbsp;&nbsp;Home</span>
                </a>
            </li>
                <li class="nav-link menus-link" onmouseover="console.log(this.childNodes)">
                    <a href="{% url 'events' %}">
                      <i class="fa-solid fa-calendar-days" style="color:black; font-size: 30px;"> </i>
                        <span class="text nav-text">&nbsp;&nbsp;Events</span>
                    </a>
                </li>

   

                <li class="nav-link menus-link">
                    <a href="{% url 'social-clubs' %}">
              
                      <i class="fa-sharp fa-solid fa-hashtag" style="color:black; font-size: 30px;"></i>
                        <span class="text nav-text">&nbsp;&nbsp;Social Clubs</span>
                    </a>
                </li>

                <li class="nav-link menus-link">
                  
                    <a href="{% url 'users-profile' pk=request.user.pk%}">
                      <i class="fa-solid fa-user" style="color:black; font-size: 30px;"> </i>
                        <span class="text nav-text">&nbsp;&nbsp;Profile</span>
                    </a>
                </li>
                <div class="dropdown">
                  
                <li class="nav-link menus-link menuDropdownButton d-none" id="dropdownMenuButton" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                  <a href="#">
                    <i class="fa-solid fa-caret-right dropdown_icon_menu" style="color:black; font-size: 50px;"></i>
                      <span class="text nav-text">&nbsp;&nbsp;Account</span>
                  </a>
              </li>
                  <div class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton">
                    <li class="nav-link menus-link">
                  
                      <a href="{% url 'my-events'%}">
             
                        <i class="fa-solid fa-calendar" style="color:black; font-size: 30px;"> </i>
                          <span class="text nav-text">&nbsp;&nbsp;My Events</span>
                      </a>
                  </li>
                  <li class="nav-link menus-link">
                  
                    <a href="{% url 'my-clubs'%}">
    
                      <i class="fa-sharp fa-solid fa-hashtag" style="color:black; font-size: 30px;"> </i>
                        <span class="text nav-text">&nbsp;&nbsp;My Clubs</span>
                    </a>
                </li>
                <li class="nav-link menus-link">
                  
                  <a href="{% url 'liked-events' pk=request.user.pk %}">
                    <i class="fa-sharp fa-solid fa-heart" style="color:black; font-size: 30px;"> </i>
                      <span class="text nav-text">&nbsp;&nbsp;Liked Events</span>
                  </a>
              </li>
              <li class="nav-link menus-link">
                  
                <a href="{% url 'dont-recommend-events' pk=request.user.pk %}">
                  <i class="fa-solid fa-ban" style="color:black; font-size: 30px;"> </i>
                    <span class="text nav-text">&nbsp;&nbsp;Don't Recommend <br>
                      &nbsp;&nbsp;Events</span>
                </a>
            </li>
    
                  </div>
                </div>

                {% if request.user|is_manager or request.user.is_staff or request.user.profile.ambassador %}
                <div class="dropdown">
                  
                  <li class="nav-link menus-link menuDropdownButton2 d-none" id="dropdownMenuButton" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                    <a href="#">
                      <i class="fa-solid fa-caret-right dropdown_icon_menu2" style="color:black; font-size: 50px;"></i>
                        <span class="text nav-text">&nbsp;&nbsp;Create</span>
                    </a>
                </li>
                    <div class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton">
                      {% if request.user|is_manager or request.user.is_staff %}
                
                      <li class="nav-link menus-link">
                        
                        <a href="{% url 'create-event'%}">
                          <i class="fa-solid fa-circle-plus" style="color:black; font-size: 30px;"> </i>
                            <span class="text nav-text">&nbsp;&nbsp;Create Event</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if request.user.profile.ambassador or request.user.is_staff %}
                    <li class="nav-link menus-link">
                        
                      <a href="{% url 'create-club'%}">
                        <i class="fa-solid fa-circle-plus" style="color:black; font-size: 30px;"> </i>
                          <span class="text nav-text">&nbsp;&nbsp;Create Social Club</span>
                      </a>
                  </li>
                  {% endif %}
      
          
      
                    </div>
                  </div>
                  {% endif %}
                  <li class="nav-link menus-link">
                        
                    <a href="{% url 'logout' %}">
                      <i class="fa-solid fa-right-from-bracket" style="color:black; font-size: 30px;"> </i>
                        <span class="text nav-text">&nbsp;&nbsp;Logout</span>
                    </a>
                </li>

     
        </div>
    </div>

</nav>

{% endif %}

<nav  class="navbar navbar-expand-lg navbar-{% if user.is_authenticated %}dark{%else%}light{%endif%} bg-{% if user.is_authenticated %}light{%else%}dark p-3{%endif%}">
 
  
  



    <ul class="navbar-nav ml-auto" style="margin-right: 10%;">
      
      {% if user.is_authenticated %}
 
      <ul class="notification-drop" style="z-index: 9999999999999;">
        <li class="item">
          <i class="fa fa-bell-o notification-bell" aria-hidden="true"></i> <span class="btn__badge {% if request.user.profile.new_notification_count > 0 %}pulse-button{% endif %} ">{{request.user.profile.new_notification_count}}</span>     
          <ul>
            {% for notification in request.user.notifications.all|sort_and_slice:request.user.profile.new_notification_count %}
            <a style="text-decoration: none; color: black;" href="{% if notification.url %}{{notification.url}}?clear_notification=true{% else %}{% url 'notification' %}{% endif %}"><li> {{notification.title}}</li></a>
            {% endfor %}
            <a style="text-decoration: none;" href="{% url 'notification' %}"><li>See All</li></a>
          </ul>
        </li>
        
      </ul>
      {% else %}
      <a href="{% url 'login' %}" class="nav-link text-light" style="font-size: 2.5rem;"></i> Login</a>
      <a href="{% url 'users-register' %}" class="nav-link ml-5 text-light" style="font-size: 2.5rem;"></i> Sign Up</a>

      {% endif %}

    
    </ul>
</nav>




  <div class="jumbotron" style="margin:0; padding-left: 15%; padding-right: 15%; min-height: 1000px;">
    {% if messages %}

    {% for message in messages %}
    <div style="font-size:2rem; padding: 30px;"
      class="alert alert-{{ message.tags }} {% if message.tags == 'error' %} alert-danger{% endif %} alert-dismissible mb-3"
      role="alert">{{ message }}
      <button type="button" style="font-size:4rem;" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
  
  
    {% endif %}

    {% block content %}{% endblock %}
  </div>





  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <!-- A plugin for password show/hide  -->
  <script src="https://kit.fontawesome.com/7c0cdfeb17.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap-show-password@1.2.1/dist/bootstrap-show-password.min.js"></script>
  <script>


    var checkboxes = document.querySelectorAll('input[name="keep_image"]');
  if (checkboxes) {
  for (var i = 0; i < checkboxes.length; i++) {
    checkboxes[i].addEventListener('change', function() {
      if (this.checked) {
        this.name = 'no_delete';
      } else {
        this.name = '';
      }
    });
  }
  }
  
  var menus_links = document.getElementsByClassName('menus-link')
  var linksArray = Array.from(menus_links);

  for(var menu_link of linksArray){
    var link = menu_link.childNodes[1]['href']
    if (link.split('/').pop()!=='#'){
      if (window.location.href == link){
        menu_link.className = menu_link.className + ' active-menus-link'
      }
    }

  }
    function previewImages() {  
      var preview = document.querySelector('#image-preview');
      if (this.files) {
        [].forEach.call(this.files, readAndPreview);
      }
  
      function readAndPreview(file) {
        if (!/\.(jpe?g|png|gif)$/i.test(file.name)) {
          return alert(file.name + " is not an image");
        }
  
        var reader = new FileReader();
  
        reader.addEventListener("load", function () {
  
          var image = new Image();
          image.height = "100";
          image.width = "150";
          image.title = file.name;
          image.src = this.result;
          
          // Create a new checkbox for the image
          var checkbox = document.createElement('input');
          checkbox.type = 'checkbox';
          checkbox.name = 'keep_image_add';

          checkbox.value = file.name
          checkbox.checked = true;
  
          // Create a container for the image and the checkbox
          var container = document.createElement('div');
          container.className = 'image-preview-item mt-3 mb-3';
          container.appendChild(image);
          container.appendChild(checkbox);
  
          preview.appendChild(container);
  
          // Add an event listener to the checkbox to remove the container if the checkbox is unchecked
          checkbox.addEventListener('change', function () {
            if (this.checked) {
              checkbox.name = 'keep_image_add'
              
            } else {
              checkbox.name = ''
            }
  
          });
        }, false);
  
        reader.readAsDataURL(file);
      }
    }
  
    var id_images = document.querySelector('#id_images')
    if(id_images){
    id_images.addEventListener("change", previewImages);
    }
  
  </script>
  <script>
      $(document).ready(function(){
        // Add "active" class to Home tab on page load
        $('.nav-item:first-child').addClass('active');
        
        // Remove "active" class from Home tab when another tab is clicked
        $('a.nav-link').click(function(){
            $('.nav-item').removeClass('active');
            $(this).closest('.nav-item').addClass('active');
        });
    });

    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })

    function toggle_comment_edit(comment_pk){
        var comment = document.querySelector('.comment[id="' + comment_pk + '"]');
        var edit_comment_form = document.querySelector('.comment-edit[id="' + comment_pk + '"]');
        console.log(edit_comment_form)
        console.log(comment)
        if(edit_comment_form.style.display === "none"){
          comment.style.display = "none";
          edit_comment_form.style.display = "flex";
          
        } else {
          comment.style.display = "";
          edit_comment_form.className = edit_comment_form.className.replace('d-flex','')
          edit_comment_form.style.display = "none";
        }
}

  function toggleDescription (event_pk){
    var short_description = document.getElementById('short_'+event_pk);
    var long_description = document.getElementById('long_'+event_pk)
    
    long_description.style = "";
    short_description.style.display = "none";

  }

  function toggleReply (comment_pk){
    var reply_form = document.getElementById('reply_form_'+comment_pk);
    reply_form.style = ""
  }
  const body = document.querySelector('body'),
    sidebar = body.querySelector('nav'),
    toggle = body.querySelector(".toggle"),
    searchBox = body.querySelector(".search-box"),
    menuIcon = body.querySelector(".dropdown_icon_menu")
    menuIcon2 = body.querySelector(".dropdown_icon_menu2")
    menuDropdownButton =  body.querySelector(".menuDropdownButton")
    menuDropdownButton2 =  body.querySelector(".menuDropdownButton2")
    
    modeSwitch = body.querySelector(".toggle-switch"),
    modeText = body.querySelector(".mode-text");


toggle.addEventListener("click", () => {
    sidebar.classList.toggle("close");
    menuDropdownButton.classList.toggle("d-none");
    try{menuDropdownButton2.classList.toggle("d-none");}catch{}
    
    searchBox.classList.toggle("d-none");
})
menuDropdownButton.addEventListener("click", () => {
  if (menuDropdownButton.getAttribute("aria-expanded") === "true") {
    menuIcon.className = menuIcon.className.replace('caret-down', 'caret-right');
  
} else if (menuDropdownButton.getAttribute("aria-expanded") === "false") {
  menuIcon.className = menuIcon.className.replace('caret-right', 'caret-down');
}})
try {
menuDropdownButton2.addEventListener("click", () => {
  if (menuDropdownButton2.getAttribute("aria-expanded") === "true") {
    menuIcon2.className = menuIcon2.className.replace('caret-down', 'caret-right');
  
} else if (menuDropdownButton2.getAttribute("aria-expanded") === "false") {
  menuIcon2.className = menuIcon2.className.replace('caret-right', 'caret-down');
}
}
)
} catch{}




$(document).ready(function() {
  $(".notification-drop .item").on('click',function() {
    $(this).find('ul').toggle();
  });
});


  </script>

</body>

</html>

