{% extends "base.html" %}
{% block content %}
<div class="login-box w-100" style="font-size: 2rem; max-width: 75%; ">
    <div class="container">

        <h1 class="mt-3"><b>Change Password</b></h1>
        <br>
        {% if form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
  <form  method="POST" style="max-width: 50%; ">
    {% csrf_token %}
    <label class="small mb-1" for="id_old_password">Old Password</label>
    <input style="font-size: 2rem;" type="password" name="old_password" autocomplete="new-password"
           class="form-control" required id="id_old_password"
           placeholder="Enter Old Password"/>
    <label class="small mb-1" for="id_new_password1">New Password</label>
    <input style="font-size: 2rem;" type="password" name="new_password1" autocomplete="new-password"
                                                class="form-control" required id="id_new_password1"
                                                placeholder="Enter New Password"/>

                                   
                                                       
    <label class="small mb-1" for="id_new_password2">New Password Confirmation</label>
    <input style="font-size: 2rem;" type="password" name="new_password2" autocomplete="new-password"
        required id="id_new_password2" class="form-control"
        placeholder="Confirm New Password"/>
                                            

    <button type="submit" id="reset" class="btn btn-lg btn-light ml-3 " style="font-size: 2rem; width: 100px; height: 100px;">
        <i class="fa-solid fa-check"></i>
      </button>

  </form>
</div>
</div>

{% endblock content %}