{% extends "base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
    <div class="jumbotron bg-light" style="margin:0; height: 800px;">

        <h1 class="display-4">Welcome, {{ user.username|default:'' }}</h1>
        <p class="lead">
            This is an <b>event tracker system</b> that allows you to find events from Uskudar University's student clubs and groups.
            You can search through events and attend the ones that are interesting!
        </p>
        <hr class="my-4">
        <p class="lead">
            {% if user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{% url 'events' %}" role="button">Events</a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
            {% endif %}
        </p>
    </div>

{% endblock content %}