{% extends "base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}



<div class="card">

    <div class="card-body p-5" style="min-height: 700px;">

        <div class="col-md-5">
            <img class="rounded-circle account-img mb-3" width="100px" height="100px"
                src="{{ current_profile.profile.avatar.url }} " />
        </div>
        <div class="col-md-5 mb-4">
            {% if can_change %}
                <a href="{% url 'edit-profile' pk=current_profile.pk %}" class="btn btn-primary">Edit Profile</a>
            {% endif %}
        </div>
        <div class="col-md-5 mb-4">
            <label>
                <h4>Username:</h4>
            </label>
            <p>{{current_profile.username}}</p>
        </div>

        <div class="col-md-5 mb-4">
            <label>
                <h4>Full Name:</h4>
            </label>
            <p>{{ current_profile.first_name }} {{current_profile.last_name}}</p>
        </div>

        <div class="col-md-5 mb-4">
            <label>
                <h4>Bio:</h4>
            </label> 
            <p>{{ current_profile.profile.bio }}</p>
        </div>


        {% if social_clubs|length > 0 %}
        <div class="col-md-5 mb-4">
            <label>
                <h4>Social Clubs:</h4>
            </label>

            {% for event in created_events %}
            <a href="{% url 'event-detail' pk=event.pk %}">{{event.title | title }}</a>
            {% endfor %}

        </div>
        {% endif %}

        {% if created_events|length > 0 %}
        <div class="col-md-5 mb-4">

            <label>
                <h4>Created Events:</h4>
            </label>
            <ul class="list-group mb-4">
                {% for event in created_events %}
                <li class="list-group-item"><a href="{% url 'event-detail' pk=event.pk %}">{{event.title | title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

    </div>
</div>


{% endblock content %}