{% extends "base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
{%if query_club%}
    <a href="{% url 'club-detail' pk=query_club.pk %}" class="btn btn-lg btn-primary mb-3 p-3"><i class="fa-solid fa-arrow-left"></i> Go Back To The Club</a>
{% endif %}

    
    {% if request.user.is_staff and not current_profile.is_staff %}
   
    <div class="auth mb-5 mt-5 p-3 justify-content-center">
        <h1><b>Authorization:</b></h1>
        {% if current_profile.is_active %}
            <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="club_pk" {% if query_club %} value="{{query_club.pk}}" {% endif %}>
            <button type="submit" name="ban" class="btn btn-danger mb-2 p-3"  >
                <i class="fa-solid fa-x"></i> Ban {{current_profile.username}}
            </button>
            </form>
        {% else %}
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="club_pk" {% if query_club %} value="{{query_club.pk}}" {% endif %}>
                <button type="submit" name="unban" class="btn btn-success mb-2 p-3" >
                <p style="text-align: left; display: inline-block;"><i class="fa-solid fa-check"></i> Unban {{current_profile.username}}
            </button>
        </form>
            
        {% endif %}
    {% endif %}
    {% if request.user.is_staff and not current_profile.is_staff %}

        {% if current_profile.profile.ambassador %}
            <form method="POST">
            {% csrf_token %}
            <button type="submit" name="unauth" class="btn btn-danger mb-2 p-3" > 
                <input type="hidden" name="club_pk" {% if query_club %} value="{{query_club.pk}}" {% endif %}>
                <i class="fa-solid fa-x"></i> Unassign Ambassador
            </button>
            </form>
        {% else %}
                
            <form method="POST">
                {% csrf_token %}
                <button type="submit" name="auth" class="btn btn-success mb-2 p-3" >
                    <input type="hidden" name="club_pk" {% if query_club %} value="{{query_club.pk}}" {% endif %}>
                <i class="fa-solid fa-check"></i> Assign Ambassador
            </button>
        </form>
              
        {% endif %}
{% endif %}


{% if not current_profile.is_staff and not current_profile == request.user%}

        {% if query_club %}
     
            {% if is_manager_of_query_club == True %}
                
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" name="unassign" class="btn btn-lg btn-danger mb-2 p-3" ">
                        <input type="hidden" name="club_pk" value="{{query_club.pk}}">
                        <i class="fa-solid fa-x"></i> Unassign Manager For {{query_club.name}}
                    </button>
                </form>
            {% else %}
            <form method="POST">
                {% csrf_token %}
                <button type="submit" name="assign" class="btn btn-lg  btn-success mb-2 p-3" ">
                    <input type="hidden" name="club_pk" value="{{query_club.pk}}">
                <i class="fa-solid fa-check"></i> Assign Manager For {{query_club.name}}
                </button>
            </form>
            {% endif %}
        {% endif %}
    </div>
{% endif %}


<h1>Profile of: <span class="text-danger">{{current_profile.username}}</span></h1>
    
    {% if can_change %}
    <a href="{% url 'edit-profile' pk=current_profile.pk %}" class="btn btn-primary btn-lg">Edit Profile</a>
    {% endif %}



<hr />

<ul class="nav nav-tabs" style="font-size: 1.8rem;">
    <li class="nav-item ">
        <a href="#1" class="nav-link {% if not request.GET.page %}active{% endif %}" role="tab" data-toggle="tab"><b>Profile</b></a>
    </li>

    <li class="nav-item">
        <a href="#2" class="nav-link {% if request.GET.page %}active{% endif%}" role="tab" data-toggle="tab"><b>Attending Events</b></a>
    </li>


</ul>

<div class="tab-content">
    
    <div role="tabpanel" class="tab-pane {% if not request.GET.page %} active {% endif %} card " id="1" style="font-size: 1.7rem;">

        <div class="card-body p-5">
    
            <div class="col-md-5">
                <img class="rounded-circle account-img mb-3" data-toggle="tooltip" data-placement="right" width="100px"
                    title='Profile picture of "{{current_profile.username}}"' height="100px"
                    src="{{ current_profile.profile.avatar.url }} " />
            </div>
    
            <hr />
            <div class="col-md-5 ">
                <label> <b>
                    <h3>Full Name:</h3>
                </b> <label> 
                <p>{{ current_profile.first_name }} {{current_profile.last_name}}</p>
            </div>
            <hr />
    
            <div class="col-md-5 ">
                <label> <b>
                    <h3>Bio:</h3>
                </b> <label> 
                <p>{{ current_profile.profile.bio }}</p>
            </div>
            <hr />
            
            {% if social_clubs|length > 0 %}
            <div class="col-md-5 ">
                <label> <b>
                    <h2>Social Clubs:</h2>
                </b> <label> 
    
                {% for event in created_events %}
                <a href="{% url 'event-detail' pk=event.pk %}">{{event.title | title }}</a>
                {% endfor %}
            </div>
            <hr />
            {% endif %}
    
            <div class="col-md-5 mb-2">
                <label> <b>
                    <h2>Social Clubs:</h2>
                    </b> <label> 
    
                {% if clubs %}
                <p>
                {% for club in clubs %}
                <a href="{% url 'club-detail' pk=club.pk %}">{{club.name|title}}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
                </p>
                {% else %}<br/>
                {{current_profile.username | title}} hasn't joined any social clubs yet.
                {%endif%}
            </div>
            
            
    
    
            
            
            <div class="col-md-5 mb-2">
                <hr/>
   
                    {%csrf_token%}
                    <h2>Liked Events:</h2>
                <a class="btn btn-lg btn-outline-primary" href="{% url 'liked-events' pk=current_profile.pk %}">Liked Events</a>
   
                </div>
            
            {% if current_profile.pk == request.user.pk %}
            <div class="col-md-5 mb-2">
                <hr/>
   
                    {%csrf_token%}
                    <h2>Dont Recommend Events:</h2>
                <a class="btn btn-lg btn-outline-primary" href="{% url 'dont-recommend-events' pk=current_profile.pk %}">Dont Recommend Events</a>
   
                </div>
            {% endif%}
    
    
        </div>
    </div>
    <div role="tabpanel" class="tab-pane {% if request.GET.page %} active {% endif %}" id="2">
        {% include 'events/partials/events.html' with exclude=exclude events_page=True current_users_page=True%}

    </div>
</div>
  



{% endblock content %}