{% extends "base.html" %}
{% block title %} Register Page {% endblock title%}
{% block content %}
<div class="login-box" style="font-size: 2rem;">
    <div class="container">
        <a 
  
        href="{% url 'login' %}"
      
        
        
        class="btn btn-lg btn-light mb-3 p-3" style="width: 100px; font-size: 2rem;"><i class="fa-solid fa-arrow-left"></i></a>

        <h1 class="mt-3"><b>Sign Up</b></h1>
        <br>
        {% if form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
  <form  method="POST">
    {% csrf_token %}
    <label for="first_name">First Name</label>
    {{ form.first_name }}
    <label for="password">Last Name</label>
    {{ form.last_name }}
    <label for="username">Username</label>
    {{ form.username }}
    <label for="email">Email</label>
    {{ form.email }}
    <label for="password1">Password</label>
    {{ form.password1 }}
    {{ form.errors.password }}
    <label for="password2">Confirm Password</label>
    {{ form.password2 }}
    {{ form.errors.password }}

    <br>
    
    <input type="submit" value="Register" style="width: 200px; margin-top: 30px;" />
  </form>
</div>
</div>







{% endblock content %}