{% extends "base.html" %}
{% block title %} Events {% endblock title%}

{% block content %}

<h1><b>{{event.title|title}}</b></h1>
<div class="mt-3">

{% if user.is_authenticated %}

        {% if event.is_past %}
            <button class="btn btn-secondary mb-2" disabled>
              <i class="fa-solid fa-check"></i> Event Time Has Passed
            </button>

        {% elif is_attending %}
        <form method="POST">
          {% csrf_token %}
          <button type="submit" name="unattend" class="btn btn-danger mb-2">
            <i class="fa-solid fa-x"></i> Unattend
          </button>
        </form>

        {% elif event.users.all|length > event.maximum_people %}
            <button class="btn btn-danger mb-2" disabled>
              <i class="fa-solid fa-check"></i> This Event Is Full!
            </button>

        

        {% else %}
            <form method="POST">
              {% csrf_token %}
              <button type="submit" name="attend" class="btn btn-success mb-2">
                <i class="fa-solid fa-check"></i> Attend
              </button>
            </form>

        {% endif %}
{% endif %}
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title d-flex align-items-center">


    </h5>
    <p class="card-text"><b>Description:</b> {{event.description}}</p>
    <hr />
    <p class="card-text"><b>Location:</b> {{event.location}}</p>
    <hr />
    <p class="card-text"><b>Time:</b> {{event.time|date:"j/m/Y l H:i" }}</p>
    <hr />
    <p class="card-text"><b>Maximum People:</b> {{event.maximum_people}}</p>
    <hr />
    <p class="card-text"><b>Fee:</b> {{event.price}} ₺</p>
    <hr />
    
    <p class="card-text"><b>Event By:</b> 
      {% if event.social_club %}
      <a href="{% url 'club-detail' pk=event.social_club.pk %}">{{event.social_club.name|title}}</a></p>
      {% else %}
      Independent
      {% endif %}
    <hr />
    <p class="card-text"><b>Created by:</b></p>
    <a href="{% url 'users-profile' pk=event.created_by.pk %}">
      <img class="rounded-circle account-img" 
      {% if event.created_by == user %}

        title="{{event.created_by}} created this event!" data-toggle="tooltip" data-placement="right"
        style="border: 4px solid green;" 
        {% endif %} width="50px" height="50px"
      
        src="{{ event.created_by.profile.avatar.url }} " style="cursor: pointer;" />
    </a>
    <hr />
    <b>Attendees ({{event.users.all|length}}/{{event.maximum_people}}): </b>
    {% if shortened_attendant_list|length > 0 %}
    <p class="card-text">

      {% for user_ in shortened_attendant_list %}

      <a href="{% url 'users-profile' pk=user_.pk %}">
        <img class="rounded-circle account-img mt-3" data-toggle="tooltip" data-placement="right"
          title="{{user_.username}} is attending this event!" width="50px" height="50px"
          src="{{ user_.profile.avatar.url }} " style="cursor: pointer;" />
      </a>
      {% endfor %}
    </p>
    {% else %}
    No one attended this event yet. <br /><br />
    {% endif %}

    {% if can_change %}

    <a type="button" class="btn btn-danger float-right" style="color:white" data-toggle="modal"
      data-target="#eventDeleteModalCenter">
      <i class="fa-sharp fa-solid fa-trash"></i> Delete This Event
    </a>
    <a href="{% url 'edit-event' pk=event.pk %}" class="btn btn-primary float-right mr-2" style="color:white">
      <i class="fa-solid fa-pen-to-square"></i> Edit This Event
    </a>

    <div class="modal fade" id="eventDeleteModalCenter" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Are you sure?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Do you want to delete this event?
          </div>
          <div class="modal-footer">

            <form method="POST" action="{% url 'delete-event' pk=event.pk %}">
              {% csrf_token %}
              <button type="submit" class="btn btn btn-danger"><i class="fa-sharp fa-solid fa-trash"></i>
                Delete</button>
            </form>
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa-solid fa-x"></i>
              Close</button>

          </div>
        </div>
      </div>
    </div>

    {% endif %}
  </div>

</div>



{% endblock content %}