{% extends "base.html" %}
{% block title %} Search Events {% endblock title%}

{% block content %}
<h1 style="display: inline-block;">
  {% if query|length %}
  Search Results For: {{query}}
  {% else %}
  You Haven't Searched Anything
  {% endif %}
</h1>
{% if manager %}
<div class="float-right" style="display: block;">
  <a class="btn btn-lg btn-primary button float-right" href="{% url 'create-event' %}"><i class="fa-solid fa-plus"> </i> Create Event</a>
</div>
{% endif %}
<hr />

<form class="form-inline mb-4" method="GET" action="{% url 'search-events' %}">
  <input name="q" class="form-control form-control-lg mr-2 " type="search" placeholder="Search Events" {% if query %}value="{{query}}"{%endif%} aria-label="Search" required>
  <button class="btn btn-primary btn-lg mr-5" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
</form> 
{% include 'events/events_REUSE.html' %}
{% endblock %}